@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: adobe-clean, "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Trebuchet MS", "Lucida Grande", sans-serif !important;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

th,
td {
  padding-left: 1rem;
  padding-right: 1rem;
}

button {
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
a {
  text-decoration: none !important;
}
